Service References/SSR/SelfServiceRouter2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://g5w2669g.americas.hpqcorp.net/SelfServiceRouter/SelfServiceRouter.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://g5w2669g.americas.hpqcorp.net/SelfServiceRouter/SelfServiceRouter.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SelfServiceRouter" />
  <xs:element name="SelfService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strUserId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strApplicationName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strMethodName" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="arrArguments" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelfServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SelfServiceRouter" minOccurs="0" name="SelfServiceResult" nillable="true" type="q2:SSRResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>